<%- include("./layout/head.ejs") %>

        <div class="container-fluid home_page">

          <div class="overlay_container relative z-9"></div>

          <%- include("./layout/navbar.ejs") %>

          <p class="admin_home_title  font-20 akrobat margin-left-2_5 bold margin-top-5" > Overview </p>

          <div class="schedule_admin_container  dark-shadow padding-left-2_5">

            <p class="admin_home_subtitle akrobat font-20 bold  padding-top-2_5"> Online Quotes </p>

            <%- include("./layout/quotes/edit_quotes.ejs") %>

            <div class="row">

              <div clas="col-8">
                  <%- include("./layout/quotes/quote.ejs") %>
              </div>

              <div class="col-4 text-quote-col">
                   <%- include("./layout/quotes/total_quotes.ejs") %>
              </div>

            </div>

          </div>

          <div class="schedule_admin_container margin-top-5 dark-shadow ">

              <p class="admin_home_subtitle font-20 akrobat bold padding-left-2_5 padding-top-5"> Website Data </p>

              <div class="row">

                <div class="col-8">
                  <%- include("./layout/meta/page_count.ejs") %>
                </div>

                <div class="col-4">
                    <%- include("./layout/meta/browser_count.ejs") %>
                </div>

                <div class="col-8">
                    <%- include("./layout/meta/root_count.ejs") %>
                </div>

             </div>

          </div>

          <div class="schedule_admin_container dark-shadow margin-top-5 padding-5 padding-bottom-2_5 padding-top-2_5">

            <p class="admin_home_subtitle font-20 akrobat bold"> Planner </p>

            <%- include("./layout/labor/labor_boxes.ejs") %>
            <%- include("./layout/labor/add_laborer.ejs") %>

          </div>

          <div class="schedule_admin_container padding-5 padding-top-2_5 padding-bottom-2_5 margin-top-5 dark-shadow">
            <p class="admin_home_subtitle font-20 akrobat bold"> Sales </p>
          </div>

        </div>

      <%- include("./layout/end.ejs")%>
