  <%- include("./layout/head.ejs") %>
  <%- include("./layout/labor/add_laborer.ejs") %>
  <%- include("./layout/labor/edit_schedule_modal.ejs") %>

  <%- include("./layout/navbar.ejs") %>


    <div class="margin-top-0">
      <%- include("./layout/labor/labor_boxes.ejs") %>
    </div>

    <div class="row">

       <div class="col-12 padding-2_5">
          <%- include("./layout/labor/schedule_table.ejs") %>
        </div>

    </div>


<%- include("./layout/end.ejs") %>
