
<%- include("./layout/head.ejs") %>

  <div id="wrapper" class="<%=lock %> ">

    <div class="container-fluid home_page padding-bottom-75" >

      <div class="row">
          <div class="col-12 padding-1 navbar_container" >  </div>
      </div>

      <div class="showcase-container relative width-100">
        <%- include("./layout/new_showcase.ejs") %>
      </div>

      <%- include("./layout/contact/meet_the_owners.ejs") %>
      <div class="our_clients_contact_wrapper relative">
        <img class = "wave_contact_img" src = "./../assets/images/wave_l.png"/>

        <%- include("./layout/our_clients.ejs") %>
      </div>

      <%- include("./layout/contact/what_we_do.ejs") %>


    </div>

  </div>

  <div class="margin-top-5-neg">
  <%- include("./layout/footer.ejs") %>
  </div>
  <%- include("./layout/end.ejs") %>
