<%- include("./layout/head.ejs") %>

  <div id="wrapper" class="<%=lock %> ">

    <div class="container-fluid page" >

      <div class="row">
          <div class="col-12 navbar_container" >  </div>
      </div>

      <div class="showcase_container">
        <%- include("./layout/new_showcase.ejs") %>
      </div>

      <%- include("./layout/contact/meet_the_owners.ejs") %>

      <%- include("./layout/contact/what_we_do.ejs") %>

        <%- include("./layout/contact/before_and_after.ejs") %>


    </div>

  </div>

  <div class="margin-top-small-neg">
    <%- include("./layout/footer.ejs") %>
  </div>

<script src = "./assets/js/before_and_after.js"></script>
  <%- include("./layout/end.ejs") %>
