
<%- include("./../layout/head.ejs") %>
  <div id="wrapper" class="<%=lock %> ">

      <%- include("./../layout/modal.ejs") %>

      <div class="container-fluid home_page padding-bottom-75" >

        <div class="row">
            <div class="col-12 padding-1 navbar_container" >
            </div>
        </div>

        <div class="showcase-container relative width-100">
          <%- include("./../layout/new_showcase.ejs") %>
          <%- include("./../layout/quote_form.ejs") %>
        </div>

      </div>

    <div class="container-fluid about_us">


        <%- include("./../layout/home/about.ejs")  %>

        <div class="our_work_section background-white relative mobile-margin-top-35">
            <div class="wavy_section width-100">
                <div class = "wave relative width-100 background-006 max-z"></div>
            </div>

        <div class="mobile-margin-top-20-neg padding-bottom-5">
        <%- include("./../layout/out_clients.ejs") %>
        </div>
      </div>

      <div class="contact_section padding-5 relative padding-5 height-300 width-100 ">
          <p class="about-us-title text-banner font-60 width-45 padding-1 stylized-black margin-bottom-5 white padding-left-2_5 contact_us_title mobile-font-35 mobile-width-100 mobile-text-center mobile-margin-top-10  "> Contact Us Today!</p>
          <div class="blueboxcontact negative-z background-005 width-30 absolute"></div>
      </div>

      <div class="contact_info_section padding-top-3-rem color-01 line-height-1_5 white-background width-100 background-white relative width-100">
          <p class="text-banner width-50 mobile-width-80 text-left mobile-font-25">489-939-9393 </p>
          <p class="text-banner text-left width-80 mobile-width-90 mobile-font-20">info@customfacilityservices.com </p>
          <%- include("./../layout/home/contact.ejs") %>
      </div>

  </div>

</div>


  <script src = "./assets/js/dropdown.js"></script>
  <script src = "./assets/js/modal.js"></script>

  <div class="footer_wrapper_home">

  <%- include("./../layout/footer.ejs") %>
  </div>


  <script src = "./assets/js/mobile_image_switch.js"></script>
  <script>
      if(window.innerWidth<=844){
          switch_image("showid","./assets/images/show.png")
        }
  </script>
  <%- include("./../layout/end.ejs") %>
  <script src = "./assets/js/home_showcase.js"></script>
