

  <%- include("./../layout/head.ejs") %>


    <div class="container-fluid home_page padding-bottom-75" >

      <div class="row">
          <div class="col-12 padding-2 background-1a navbar_container" >

          </div>
      </div>

      <div class="showcase-container relative width-100">
        <%- include("./../layout/showcase.ejs") %>
      </div>


  </div>

  <div class="container-fluid about_us">
    <p class="about-us-title"> What We Stand For </p>

      <%- include("./../layout/about.ejs")  %>
      <div class="our_work_section">
          <div class="wavy_section">
              <div class = "wave"></div>
        </div>
      <%- include("./../layout/top_clients.ejs") %>
    </div>

    <div class="contact_section padding-5 relative padding-5 height-300">
        <p class="about-us-title contact_us_title"> Contact Us Today!</p>
        <div class="blueboxcontact"></div>
    </div>
    <div class="contact_info_section white-background width-100 background-white relative width-100">

        <%- include("./../layout/contact.ejs") %>
    </div>


  </div>


  <script src ="./assets/js/navbar_render.js"></script>

  <script src = "./assets/js/dropdown."></script>

</body>

</html>
