<%- include("./layout/head.ejs") %>

  <div id="wrapper" class="<%=lock %> ">

      <%- include("./layout/modal.ejs") %>

      <div class="container-fluid home_page" >

        <div class="row">
            <div class="col-12 navbar_container"></div>
        </div>

        <div class="showcase_container">

          <%- include("./layout/new_showcase.ejs") %>

          <br />
          <br />
          <br />

          <div class='margin-top-medium'>
            <%- include("./layout/quote_form.ejs") %>
          </div>

        </div>

      </div>

    <div class="container-fluid about_us_container">

        <%- include("./layout/home/about.ejs")  %>

        <div class="our_work_section ">

            <div class="wavy_section">
                <div class = "wave background-006 "></div>
            </div>

        <div class="our_clients_container">
          <%- include("./layout/our_clients.ejs") %>
        </div>
      </div>

      <%- include("./layout/home/contact.ejs") %>

      <div class="gallery_home_container">

        <%- include("./layout/home/gallery.ejs") %>

        <div class="footer_home_container">
            <%- include("./layout/footer.ejs") %>
        </div>

      </div>

  </div>

</div>

  <%- include("./layout/end.ejs") %>
