<%- include("./../layout/quote/head.ejs") %>
<div id="wrapper" class="<%=lock %> ">
  <%- include("./../layout/modal.ejs") %>

<div class="container-fluid home_page padding-bottom-75" >

  <div class="row">
      <div class="col-12 padding-2 background-1a navbar_container" >

      </div>
  </div>

  <div class="showcase-container relative width-100">
    <%- include("./../layout/quote/showcase.ejs") %>
  </div>


</div>
  <br />
  <%- include("./../layout/quote/quote_sheet.ejs") %>
  <br />
  <%- include("./../layout/quote/what_we_do.ejs") %>

</div>

<%- include("./../layout/end.ejs") %>
