<%- include("./../layout/head.ejs") %>
<div id="wrapper" class="<%=lock %> ">
  <%- include("./../layout/modal.ejs") %>

<div class="container-fluid " >

  <div class="row">
      <div class="col-12 padding-1 background-1a navbar_container" >

      </div>
  </div>

  <div class="showcase-container relative width-100">
    <%- include("./../layout/new_showcase.ejs") %>
  </div>


</div>
  <br />

  <%- include("./../layout/quote/quote_sheet.ejs") %>
  <br />
  <%- include("./../layout/quote/before_and_after.ejs") %>

</div>

<%- include("./../layout/end.ejs") %>
